
h1 {
	color:#696969 black;
	font-family: 'Montserrat';
	margin-top: 35px;

}

h2 {
	color:#696969 black;
	font-family: 'Montserrat';
	margin-top: 10px;
	background-color:;
}
h3 {
	color:white;
	font-family: 'Montserrat';
	margin-top: 10px;
	background-color:;
}
p {
	color:#696969 black;
	font-family: 'Play', sans-serif;
	margin-top: 10px;

}

.bg-color {
	background-color: #808334;
}
.sizeup {
	font-size: 30px;
}

/*img { 
  border: 1px solid #000; 
  padding: 10px;
}
