
h1 {
	color:#696969 black;
	font-family: 'Montserrat';
	margin-top: 35px;

}

h2 {
	color:#696969 black;
	font-family: 'Montserrat';
	margin-top: 10px;
	background-color:#959595;
}
p {
	color:#696969 black;
	font-family: 'Montserrat';
	margin-top: 10px;

	background-color:#959595;
}

